*.iml
.gradle
/local.properties
/.idea/
/.idea/
/.idea
.DS_Store
/build
/captures
.idea
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/gradle.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
**/.idea/workspace.xml
**/.idea/tasks.xm
